<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="expanded-menu">
        <ul class="nav navbar-nav">

            <li class="active">
              <a href="#">Novo Contato</a>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
              <%= link_to 'Entrar', '#' %>
          </li>
        </ul>

    </div>

  </div>

</nav>
